# ===========================================
# Docker Compose - 開発環境用
# ===========================================
# 使用方法: make up または
# docker compose -f docker-compose.yml -f docker-compose.dev.yml up -d

services:
  api:
    build:
      context: .
      dockerfile: ./docker/php/Dockerfile
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
        ENV_EXTENSION: dev
    volumes:
      - ./src/:/var/www/html
    user: www-data
    ports:
      - "8000:8000"
    environment:
      - APP_ENV=local
      - APP_DEBUG=true

  next:
    build:
      context: .
      dockerfile: ./docker/next/Dockerfile
    volumes:
      - /app/node_modules
      - ./next/:/app
    command: npm run dev
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=development

  web:
    build:
      context: .
      dockerfile: ./docker/nginx/Dockerfile.dev
    ports:
      - ${WEB_PORT:-80}:80
      - "443:443"
      - "8090:8090"
    volumes:
      - ./src/:/var/www/html

  # 開発用データベース
  mysql:
    container_name: prerebi-mysql
    image: mysql:8.0
    environment:
      MYSQL_DATABASE: "${APP_NAME:-prerebi}"
      MYSQL_USER: "${APP_NAME:-prerebi}"
      MYSQL_PASSWORD: "${PHPMYADMIN_PASSWORD:-password}"
      MYSQL_ROOT_PASSWORD: "${PHPMYADMIN_PASSWORD:-password}"
    ports:
      - "2000:3306"
    volumes:
      - prerebi-mysql-volume:/var/lib/mysql
      - ./backup:/backup

  # 開発用DB管理ツール
  phpmyadmin:
    container_name: prerebi-phpmyadmin
    image: phpmyadmin/phpmyadmin
    platform: linux/amd64
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "10000:80"
    depends_on:
      - mysql

  # 開発用メールサーバー
  mailhog:
    container_name: prerebi-mailhog
    image: mailhog/mailhog
    ports:
      - "1025:1025"
      - "8025:8025"

volumes:
  prerebi-mysql-volume:
    driver: local
